<div class="page-header">
  <div class="jumbotron" id="header-intro">
    <div class="container">
      <h1>Random Wiki</h1>
      <h3>
        Quarantine got us really lazy,<br />Let's do something productive!
      </h3>
      <br />
      <h3>
        By taking you to a random Wikipedia page,<br />Random Wiki learns you
        something new every search.
      </h3>
    </div>
  </div>
  <div class="jumbotron" id="header-fact">
    <div class="container">
      <h5>
        Random Wiki selects one out of <b>{{this.article_count}}</b> Wikipedia
        pages. This number gets bigger every week!
      </h5>
    </div>
  </div>
</div>
