<div class="jumbotron" id="header-search">
  <div class="container">
    <button  type="button" class="btn btn-lg btn-search" id="js-btn-search">
      Start
    </button>
  </div>
</div>
<div class="page-content">
  <div class="container" id="js-content">
    <h1 class="js-wiki-title"></h1>
    <br />
    <div class="js-wiki-content"></div>
  </div>

  <div class="readmore">
    <div class="container readmore-wrap">
      <div class="js-footer-text"></div>
      <div class="js-footer-button"></div>
    </div>
  </div>
</div>
