<div class="jumbotron" id="header-fact">
  <div class="container">
    <h3>
      Random Wiki selects one out of <b>{{ this.article_count }}</b> Wikipedia
      pages. This number gets bigger every week!
    </h3>
  </div>
</div>
<div class="jumbotron" id="header-search">
  <div class="container">
    <button
      (click)="extractArticle()"
      type="button"
      class="btn btn-lg btn-search"
      id="js-btn-search"
    >
      {{ this.btn_text }}
    </button>
  </div>
</div>

<div [ngSwitch]="this.query_succesful">
  <div *ngSwitchCase="true" class="page-content">
    <div class="container">
      <h1>
        {{ this.article_title }}
      </h1>
      <br/>
      <div [innerHTML]="this.article_extract"></div>
    </div>

    <div class="readmore">
      <div class="container readmore-wrap">
        <div class="readmore-title">
          <p>
            Did you find <b>{{ this.article_title }}</b> interesting?
          </p>
        </div>
        <div class="readmore-button">
          <a
            class="btn btn-lg btn-readmore"
            href="{{ this.article_url }}"
            target="blank"
          >
            Read more..
          </a>
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="false" class="page-error">
    <div class="container">
      <img
        src="../../assets/error.svg"
        class="mx-auto d-block"
        height="80"
        width="80"
      />
      <div [innerHTML]="this.error_msg"></div>
    </div>
  </div>
</div>
