<div class="jumbotron" id="header-search">
  <div class="container">
    <button type="button" class="btn btn-lg btn-search" id="js-btn-search">
      Start
    </button>
  </div>
</div>
<div class="page-content">
  <div class="container" id="js-content">
    <h1 class="js-wiki-title">Agatha Bacovia</h1>
    <br />
    <div class="js-wiki-content">Agatha Bacovia (born Agatha Grigorescu; March 8, 1895 – October 12, 1981) was a Romanian poet.

        Born in Mizil, her parents were Șerban Grigorescu and his wife Maria (née Anastasiu). Her mother died shortly after giving birth, and her father when she was an adolescent. At age 21, she met fellow poet George Bacovia, fourteen years her senior, while walking on Bucharest's Calea Victoriei. The couple married twelve years later, in June 1928. Agatha functioned as both secretary and nurse to her sickly husband, supporting him with her teacher's salary.
        
        She attended the literature and philosophy faculty of Bucharest University, graduating in 1927. Her first published work appeared in Scena magazine in 1918; her first poetry book was the 1923 Armonii crepusculare. She contributed to Viața nouă, Revista scriitoarelor și scriitorilor români, Orizonturi noi, Ateneu, Steaua and România literară, sometimes signing as Agatha Gr. and Agata Grozea. Her verses were delicately symbolist, of a temperate tonality of her husband's manner.
        
        Her books included poetry: Muguri cenușii (1926), Pe culmi de gând (1934), Lumină (1965), Cu tine noapte (1969), Versuri (1970), Efluvii (1977) and Șoaptele iubirii (1979); poems and prose: Terase albe. Colocviu cu poetul (1938); and memoirs: Bacovia. Viața poetului (1962; second edition: Bacovia. Poezie sau destin, 1972), Poezie sau destin. Viața poetei (1971) and Poezie sau destin, III George Bacovia. Ultimii săi ani (1981). She headed a literary circle named after her husband, as well as a memorial museum dedicated to him.</div>
  </div>

  <div class="readmore">
    <div class="container readmore-wrap">
      <div class="js-footer-text">Did you find <b>'Agatha Bacovia'</b> interesting?</div>
      <div class="js-footer-button">
        <a class="btn btn-lg btn-readmore" href="${permalink}" target="blank">Read more..</a>
      </div>
    </div>
  </div>
</div>
