/* FACT SECTION
----------------------------------------*/
#header-fact {
  background-color: rgb(185, 247, 216);
  padding-top: 45px;
  padding-bottom: 45px;
}

h5 {
  font-size: 19px;
}

/*START SECTION
----------------------------------------*/
#header-search {
  background-color: rgb(210, 250, 230);
  padding: 20px 0 20px 0;
}

.btn-search {
  background-color: rgb(124, 235, 180);
  color: rgb(0, 0, 0);
}

/* ERROR CONTENT
----------------------------------------*/
.page-error{
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

/* PAGE CONTENT
----------------------------------------*/
.page-content {
  padding-top: 45px;
  padding-bottom: 190px;
}

/* READMORE FOOTER
----------------------------------------*/
.readmore {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: #f7f7f7;
}
.readmore-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.readmore-title{
  padding-top: 10px;
  font-size: 17px;
}
.btn-readmore {
  background-color: rgb(192, 243, 218);
  padding-left: 20px;
}